<h2>Lista de Departamentos:</h2>

  <table class="table table-striped">
    <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>NOMBRE DEL DEPARTAMENTO</th>
          <!-- <th>JEFE DE DEPARTAMENTO</th> -->
          <th>FECHA DE REGISTRO</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let departamento of departamentos">
        <td>{{departamento.id}}</td>
        <td>{{departamento.nombreDepartamento}}</td>
        <!-- <td>{{departamento.jefe}}</td> -->
        <td>{{departamento.fechaRegistro}}</td>
        <td>
          <button (click) = "actualizarDepartamento (departamento.id)" class = "btn btn-info">Editar</button>
          <button (click) = "eliminarDepartamento (departamento.id)" class = "btn btn-danger" style="margin-left : 10px">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
