<h2 class="tituloSeccion">Lista de Contactos:</h2>

  <table class="table table-striped">
    <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>APELLIDOS</th>
          <th>TELEFONO</th>
          <th>eMAIL</th>
          <th>DIRECCION</th>
          <th>FECHA DE REGISTRO</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contacto of contactos">
        <td>{{contacto.id}}</td>
        <td>{{contacto.nombre}}</td>
        <td>{{contacto.apellidos}}</td>
        <td>{{contacto.telefono}}</td>
        <td>{{contacto.email}}</td>
        <td>{{contacto.direccion}}</td>
        <td>{{ contacto.fechaRegistro | date: 'dd/MM/yyyy, h:mm a' }}</td>
        <td class="button-group">
          <button (click) = "actualizarContacto (contacto.id)" class = "btn btn-info">Editar</button>
          <button (click) = "eliminarContacto (contacto.id)" class = "btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
