<h2 class="tituloSeccion">Lista de Empleados:</h2>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th *ngFor="let columna of columnas" (click)="ordenarPor(columna.campo)">
        {{ columna.titulo }}
        <span *ngIf="sortField === columna.campo">
          <i *ngIf="sortDirection === 'asc'" class="fas fa-sort-up"></i>
          <i *ngIf="sortDirection === 'desc'" class="fas fa-sort-down"></i>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{ empleado.id }}</td>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.apellidos }}</td>
      <td>{{ empleado.telefono }}</td>
      <td>{{ empleado.correoElectronico }}</td>
      <td>{{ empleado.direccion }}</td>
      <td>{{ empleado.departamentoId }}_{{ empleado.nombreDepartamento }}</td>
      <td>{{ empleado.esJefe ? 'Jefe dpto.' : 'Empleado' }}</td>
      <td>{{ empleado.nickname }}</td>
      <td>{{ empleado.fechaNacimiento }}</td>
      <td>{{ empleado.fechaRegistro | date: 'dd/MM/yyyy, h:mm a' }}</td>
      <td class="button-group">
        <button (click)="actualizarEmpleado(empleado.id)" class="btn btn-info">Editar</button>
        <button (click)="eliminarEmpleado(empleado.id)" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<button (click)="prevPage()"  class="btn btn-outline-dark" [disabled]="page === 0">Anterior</button>
<button (click)="nextPage()"  class="btn btn-outline-dark" [disabled]="page + 1 >= totalPages">Siguiente</button>
