  <h2 class="tituloSeccion">Lista de Empleados:</h2>


  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th (click)="ordenarPor('id')" onkeydown="true">ID</th>
        <th (click)="ordenarPor('nombre')" onkeydown="true">NOMBRE</th>
        <th (click)="ordenarPor('apellidos')" onkeydown="true">APELLIDOS</th>
        <th (click)="ordenarPor('telefono')" onkeydown="true">TELÉFONO</th>
        <th (click)="ordenarPor('correoElectronico')" onkeydown="true">eMAIL</th>
        <th (click)="ordenarPor('direccion')" onkeydown="true">DIRECCIÓN</th>
        <th (click)="ordenarPor('departamentoID')" onkeydown="true">DEPARTAMENTO</th>
        <th (click)="ordenarPor('esJefe')" onkeydown="true">ESTATUS</th>
        <th (click)="ordenarPor('nickname')" onkeydown="true">NICKNAME</th>
        <th (click)="ordenarPor('fechaNacimiento')" onkeydown="true">FECHA NACIMIENTO</th>
        <th (click)="ordenarPor('fechaRegistro')" onkeydown="true">FECHA REGISTRO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleados">
        <td>{{empleado.id}}</td>
        <td>{{empleado.nombre}}</td>
        <td>{{empleado.apellidos}}</td>
        <td>{{empleado.telefono}}</td>
        <td>{{empleado.correoElectronico}}</td>
        <td>{{empleado.direccion}}</td>
        <td>{{empleado.departamentoId}}_{{empleado.nombreDepartamento}}</td>
        <td>{{empleado.esJefe ? 'Jefe dpto.' : 'Empleado' }}</td>
        <td>{{empleado.nickname}}</td>
        <td>{{empleado.fechaNacimiento}}</td>
        <td>{{empleado.fechaRegistro | date: 'dd/MM/yyyy, h:mm a' }}</td>
        <td class="button-group">
          <button (click) = "actualizarEmpleado (empleado.id)" class = "btn btn-info">Editar</button>
          <button (click) = "eliminarEmpleado (empleado.id)" class = "btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>

  </table>

  <button (click)="prevPage()" [disabled]="page === 0">Anterior</button>
  <button (click)="nextPage()" [disabled]="page + 1 >= totalPages">Siguiente</button>
